<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find m2wr_description)/urdf/m2wr.xacro' "/>
    <!--<arg name='x' default='0' />
    <arg name='y' default='0' />
    <arg name='z' default='0' />
    <arg name='roll' default='0' />
    <arg name='pitch' default='0' />
    <arg name='yaw' default='0' />-->
    <arg name="gzpose" default="-x 0 -y 0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <!-- start up world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_tutorial)/worlds/room.world"/>
  </include>

  <!-- start a robot instance -->
  <node name='spawn_robot' pkg='gazebo_ros' type='spawn_model' output='screen'
  args='-urdf -param robot_description -model wheel_robot $(arg gzpose)' />


</launch>
