<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <param name="robot_description" value="$(find darwin_description)/urdf/darwin.urdf"/>
    <arg name='x' default='1' />
    <arg name='y' default='1' />
    <arg name='z' default='0' />

  <!-- start up world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_tutorial)/worlds/room.world"/>
  </include>

  <!-- start a robot instance -->
  <node name='darwin_robot' pkg='gazebo_ros' type='spawn_model' output='screen'
  args='-urdf -param robot_description -model darwin -x $(arg x) -y $(arg y) -z $(arg z)' />


</launch>
