<?xml version="1.0" ?>
<model>
    <name>room</name>
    <version>0.1.0</version>
    <author>
        <name>Alvin Zhang</name>
        <email>huiwen3304@gmail.com</email>
    </author>
    <sdf version="1.4">model.sdf</sdf>
    <description>
    this a room with darwin robot inside
    </description>
</model>